<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- bean definitions here -->

	<bean id="employee" class="com.bean.Employee"
		autowire="byName">
		<property name="id" value="111"></property>
		<property name="name" value="kalpesh"></property>
		<property name="salary" value="11111"></property>

	</bean>

	<bean id="address" class="com.bean.Address">
		<property name="state" value="MH"></property>
		<property name="city" value="PUNE"></property>
		<property name="pincode" value="411110"></property>
	</bean>



</beans>